/*************************************************************
 *  Set up main structural divs for the page
 *  Largely taken from http://alistapart.com/article/holygrail
 *************************************************************/
body {
    min-width: 240px;      /* 2x LC width + RC width */
    background-color:AliceBlue;
    font-family:Arial, sans-serif;
}
#container {
    padding-left: 120px;   /* LC width */
    padding-right: 0px;  /* RC width */
    margin:0 auto;
}
#container .column {
    position: relative;
    float: left;
}
#center {
    width: 100%;
    background-color:#FFFFFF;
}
#center h1{
    margin:3px;
    margin-bottom:5px;
    margin-left:20px;
}
#left {
    width: 120px;          /* LC width */
    right: 120px;          /* LC width */
    margin-left: -100%;
    background-color:CornflowerBlue;
    /*background-color:#000000;*/
    height:1700px;
}
#header {
    clear: both;
    background-color:AliceBlue;
}
#header h1{
    display:inline-block;
    font-size:30pt;
}
#footer {
    clear: both;
    background-color:AliceBlue;
}
/*** IE6 Fix ***/
* html #left {
    left: 120px;           /* RC width */
}
/*************************************************************
 *  Block that contains the parameters floats in a fixed place 
 *  (would be an issue if the block becomes too big 
 *************************************************************/
#parameter_block{
    position: fixed;
    width: 120px;          /* LC width */
    margin-left: -120px;
    padding:3px;
    float:none;
}
/* Hack to get the sliding parameter block working with firefox*/
@-moz-document url-prefix() {
    #parameter_block{
	margin-left: 0px;
    }
}
/*************************************************************
 *  Styles to controll the parameter and value formats
 *************************************************************/
#parameter_block h1{
    font-size:14pt;
    display:inline;
}
.parameter {
    color:#FFFFFF;
    font-weight:normal;
    font-size:12pt;
}
.parameter a.value{
    text-decoration:none;
    color:LightGray;
    font-weight:normal;
    font-size:12pt;
}
.parameter a.current_value{
    text-decoration:none;
    font-weight:bold;
    color:#FFFFFF;
    font-size:14pt;
}
.parameter h1{
    font-size:14pt;
    margin-bottom:0px;
    color:DarkBlue;
}
table.value_table {
    border-collapse:separate;
    border-spacing:5px 0px;
} 
/*************************************************************
 *  Styles to the plot table and information
 *************************************************************/
table.plots{
    width: 1100px;
    border-collapse:separate;
    border-spacing:15px 10px;
}
table.plots td{
    width: 300px;
}
img.plot{
    width:100%;
    height:auto;
    max-width:360px;
}
#header_table {
    border-collapse:separate;
    border-spacing:50px 0px;
} 
#information{
    font-size:11pt;
}
#information p{
    margin:0px;
}
#information h1{
    color:DarkBlue;
    margin:0px;
    margin-bottom:3px;
    margin-top:9px;
}
